<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <style>
    .red {color: #FD3B3B;}
/*      body {font-family: Poppins; } */
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>

          <a href="https://visualinteractivedata.github.io">Overview 2</a>
          <br/>
          <a href="people.html">People</a>
          <br/>
          <a href="https://visualinteractivedata.github.io#projects">Gallary</a>
          <br/>
          <a href="https://visualinteractivedata.github.io/publications.html">Publications</a>
          <br/>
          <a href="https://visualinteractivedata.github.io/invited-talks.html">Talks</a>
          <br/>
          <a href="https://visualinteractivedata.github.io/for-students.html">People</a> |
          <br/>
          <a href="https://visualinteractivedata.github.io/resources.html">Design Patterns</a>
          <br/>
          <a href="https://visualinteractivedata.github.io/jobs.html">Workshop</a> |
          <br/> 
          <a href="https://visualinteractivedata.github.io/jobs.html">Data Visualization Cheat Sheets</a> |
          <br/> 
          <br/>
        
        
        <table>
          <tr>
            <td><img src="figures/vid_logo.png" width="80px"></td>
            <td><img src="figures/di_logo.png" width="80px"></td>
            <td><img src="figures/infed.png" width="90px"></td>
            <td><img src="figures/uoe.png" width="90px"></td>
          </tr>
        </table>
       
     </header>

       <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    
    <script id="hidden-template" type="text/x-custom-template">
      <tr>
        <td width="50%">
          <img/>
        </td>
        <td>
          <h2><a href=""></a></h2>	
          <p></p> 
          <i></i>
        </td>
      </tr>
    </script>
    
    <script>
        d3.csv("data.csv",function(d) {
          console.log('d: ', d) 
          
          var template = $('#hidden-template').html();
          var item = $(template).clone();
          
          $(item).find('img').attr('src','teasers/' + d.image ) ;  
          $(item).find('a').attr('href', d.url);  
          $(item).find('a').html(d.title);  
          $(item).find('p').html(d.description);  
          $(item).find('i').html(d.author);  

          $('#gallery').append(item);
        })
          
     
    </script>
    
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
